.booking{
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229,231,235);
    position: sticky;
    top: 80px;
}

.booking-top h3{
    font-size: 2rem;
    font-weight: 700;
}

.booking-top h3 span{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(107, 103, 103);
}

.booking-top span{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(107, 103, 103);
}

.booking-top{
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(229,231,235);
}

.booking-form{
    padding-top: 2rem;
}

.booking-form h5{
    margin-bottom: 1rem;
}

.booking-form input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(229,231,235);
}

.booking-form input:focus{
    outline: none;
}

.booking_info-form{
    padding: 1rem;
    border: 1px solid rgb(229,231,235);
}

.btn_booking{
    background:rgb(255, 152, 41);
    border: none;
    border-radius: 20px;
}

.booking-bottom li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-bottom li h5,.booking-bottom li span{
    font-size: 1rem;
    color:rgb(83, 82, 82);
}

.booking-bottom{
    margin-top: 1rem;
}

.total h5 ,.total span{
    color:black !important;
    font-weight: 700 !important;
    font-size: 1.1rem !important;
}

